body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3; 
    text-align: center;
    font-family: 'Courier New', Courier, monospace; 
}

.container {
    position: relative;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

#passwordInput {
    padding: 10px;
    font-size: 20px; 
    width: 250px; 
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: width 0.3s; 
}

#enterButton {
    padding: 10px;
    font-size: 20px; 
    margin-left: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#message {
    font-size: 24px;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .input-group {
        flex-direction: column; 
        width: 100%; 
        align-items: center; 
    }

    #passwordInput {
        width: 80%; 
        margin-bottom: 10px; 
    }

    #enterButton {
        padding: 8px 12px; 
        font-size: 18px; 
    }
}
